<!-- The new action will be used to display a new random grid and a form.
The form will be submitted (with POST) to the score action. -->
<div class='container'>
  <div class='text'>
    <h1>New Game</h1>
  </div>

  <ul>
    <% @letters.each do |letter| %>
      <div class='letter'><%= letter %></div>
    <% end %>
  </ul>

  <div class='text'>
    <h2>What's the best word you got?</h2>
  </div>

  <form action='/score' method='post'>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token  %>
    <%= hidden_field_tag :letters, @letters.join  %>
    <input type='text' name='word'>
    <input type='submit', value='Play'>
  </form>

</div>
